.custom-dialog-container .mat-dialog-container {
    padding: 0;
}

.mat-card-style {
    transition: none !important;
    box-shadow: none !important;
    padding: 0px !important;
}
.full-width{
    width: 100%;
}