@import "~bootstrap/dist/css/bootstrap.min.css";
html,

body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

.mat-icon-button:focus {
    outline: none;
}

button{
    outline: none !important;
}
